html, body {
    margin: 0;
}

body {
    font-family: Inter;
}

.container {
    margin: 45px 40px;
}

header {
    background: #F55A5A;
    display: flex;
    justify-content: center;
    color: white;
    height: 100px;
    align-items: center;
}

header > img {
    width: 50px;
    margin-right: 10px;
}

header > h1 {
    font-size: 2rem;
    font-weight: 500;
}

article.journal-entry {
    display: flex;
    margin-bottom: 36px;
}

article.journal-entry .marker {
    width: 7px;
    margin-right:  4px;
}

article.journal-entry .main-image-container {
    height:  168px;
    width: 125px;
    overflow: hidden;
    border-radius: 5px;
    flex-shrink: 0;
    margin-right: 19px;
}

article.journal-entry .main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}